<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lottie{
            display: inline-block;
        }
    </style>
</head>
<body>
<!--<script type="module" src="simple.js"></script>-->
<script type="module" src="not-found-404.js"></script>
<script type="module" src="animation-about-seo-dashboard.js"></script>
<script type="module" src="bouncy-car.js"></script>
<script type="module" src="buying-a-property.js"></script>
<script type="module" src="construction-in-process-by-kit8net.js"></script>
<script type="module" src="dsad-das-d-as-das.js"></script>
<script type="module" src="home2.js"></script>
<script type="module" src="illustration.js"></script>
<script type="module" src="intelligence-ai.js"></script>
<script type="module" src="lottie-animation.js"></script>
<script type="module" src="man-working-in-the-office.js"></script>
<script type="module" src="programming.js"></script>
<script type="module" src="rocket-lunch.js"></script>
<script type="module" src="social-media-girl.js"></script>
<script type="module" src="team-work.js"></script>
<script type="module" src="teamwork.js"></script>
<script type="module" src="the-woman-sitting-on-the-phone.js"></script>
<script type="module" src="user-testing.js"></script>
<script type="module" src="washer-riding.js"></script>
</body>
</html>
